//==============================================================================
// Copyright (c) 2009, Ludo Sapiens Inc.
// All rights reserved.
//
// These coded instructions, statements, and computer programs contain
// unpublished, proprietary information and are protected by Federal copyright
// law. They may not be disclosed to third parties or copied or duplicated in
// any form, in whole or in part, without prior written consent.
//==============================================================================

// http://developer.apple.com/tools/xcode/symbolizingcrashdumps.html
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
COPY_PHASE_STRIP = YES

// Uncomment the following if you need to force something other than what is set in _Merge.xcconfig.
//GCC_OPTIMIZATION_LEVEL = 3
